# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
env/
venv/
.venv/
ENV/
.env/
.build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache
nosetests.xml
pytest_cache/
test-results/

# MyPy
.mypy_cache/

# Pyre
.pyre/

# Pytype
.pytype/

# Bandit
bandit.yaml

# Pylint
pylint.log

# dotenv
.env
.env.*

# macOS metadata
.DS_Store

# System
Thumbs.db